@font-face {
    font-family: 'Roboto Mono';
    src: url(https://fonts.google.com/specimen/Roboto+Mono);
}

body {
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: content-box;
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: pink;
}


h1 {
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 5%;
    width: auto;
}

#codigo {
    margin: 10px;
}

.divChave {
    display: none;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

form {
    display: flex;
    background-color: rgb(255, 255, 255, 0.3);
    flex-direction: column;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 20%);
}

.radioCod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

#botaoResultado {
    display: none;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer a {
    margin: 10px;
}
